body{
font-family: 'Open Sans', sans-serif;
font-size: 16px;
color: rgb(20, 20, 20);
background-color: rgb(230, 230, 230);

}

h1, h2, h3 {
font-family: 'Montserrat', sans-serif;
}



h1{
  font-size: 23px;
  color: #FF570C;
}

h2 {
  font-size: 20px;
}

h3{
  font-size: 17px;

}

a {
  text-decoration: none;
  color: rgb(120, 120, 120);

}
a:hover {
  color: #FF570C;
}

.section-white {
background-color: :white;
border-radius: 4px;
width:900px;
margin:10px auto;
padding:50px;
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}
.img-circle {
border-radius: 50;

}
.btn-red{
background-color: #FF570C;
padding:10px 15px;
color: white;
font-weight: bold;
border-radius:4px;
}

.text-center {
  text-align: center;
}

.list-inline{
  list-style:none;
}
.list-inline li {
  display:inline-block;
  padding: 0px 20px;

}












